@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;
@use '../../scss/typography/typography.scss' as *;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 16px;
  backdrop-filter: blur(4px);
  opacity: 0;
  animation: fadeIn 0.2s ease-out forwards;
  overflow-y: auto;
}

.modalContent {
  background: var(--bg-white);
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  transform: translateY(20px);
  animation: slideUp 0.3s ease-out forwards;
  position: relative;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  //   border-bottom: 1px solid var(--border-color);
  position: sticky;
  top: 0;
  background: var(--bg-white);
  z-index: 1;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;
  }

  .modalTitle {
    @include heading20;
    color: var(--black-500);
    margin: 0;
    text-transform: capitalize;
  }
}


.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  margin: -8px -8px -8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.2s;
  color: var(--grey-600);

  &:hover {
    background-color: var(--grey-100);
    color: var(--black-500);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--primary-light);
  }
}

.modalBody {
  padding: 24px;

  @include respond-to('sm') {
    padding: 16px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@include respond-to('sm') {
  .modalContent {
    max-width: 95%;
    max-height: 95vh;
  }

  .modalHeader {
    padding: 16px;
  }
}