@use "../../../../scss/main.scss" as *;
@use "../../../../scss/breakpoints/breakpoints.scss" as *;
@use "../../../../scss/typography/typography.scss" as *;

.myAlgobots {
  .emptyState {
    grid-column: 1 / span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 1rem;
    background: #f9fafb; // light gray background
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
    margin: 2rem auto;
    max-width: 600px;
  }

  .cardgrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-top: 20px;

    @include respond-to("lg") {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to("md") {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to("sm") {
      grid-template-columns: repeat(1, 1fr);
    }

    .cardgridItems {
      background-color: var(--bg-light-700);
      padding: 16px;
      border-radius: 12px;
      border: 1px solid var(--border-color2);

      .image {
        img,
        .imageSkeleton {
          object-fit: cover;
          border-radius: 12px;
          width: 100%;
          aspect-ratio: 16 / 9;
          display: block;
        }
      }

      .details {
        padding-top: 15px;

        h3 {
          @include font18;
          color: var(--black-500);
          font-family: var(--font-funneldisplay);
          font-weight: 600;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          overflow: hidden;
          margin-bottom: 10px;
        }

        h4 {
          @include font17;
          color: var(--black-500);
          background-color: rgb(107 79 216 / 10%);
          font-family: var(--font-funneldisplay);
          padding: 10px;
          border-radius: 10px;
        }

        p {
          margin-top: 10px;
          @include font16;
          font-family: var(--font-lexend);
          color: var(--grey-600);
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          overflow: hidden;
        }
      }
    }
  }
}
