@use '../../../../scss/main.scss' as *;
@use '../../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../../scss/typography/typography.scss' as *;

.ourSyllabus {
    .title {
        padding: 0 0 15px 0;
        border-bottom: 1px solid var(--border-color5);

        h3 {
            @include heading20;
            color: var(--black-500);
        }
    }

    .mainToogle {
        padding: 15px 0;
        border-bottom: 1px solid var(--border-color5);

        .faqBody {
            &.hide {
                max-height: 0px;
                overflow: hidden;
                transition: .3s ease-in-out;
            }

            &.show {
                max-height: 100dvh;
                overflow: hidden;
                transition: .3s ease-in-out;
            }

            .spacing {
                padding: 15px 0 0 0;

                p {
                    @include font16normal;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    color: var(--grey-600);

                    @media (max-width:1500px) {
                        @include font14;
                        -webkit-line-clamp: 2;
                    }
                }
            }
        }

        .toogleHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .icons {
                display: flex;
                align-items: center;

                &.rotate {
                    svg {
                        transform: rotate(180deg);
                    }
                }

                svg {
                    cursor: pointer;
                    transition: .3s ease-in-out;
                }
            }

            h3 {
                @include font16;
                font-weight: 400;
                color: var(--black-500);

                span {
                    font-weight: 500;
                    @include font16;
                }
            }
        }
    }

}