@use '../../scss/main.scss' as *;
@use '../../scss/typography/typography.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;

.journeySection {
    padding: 110px 0 120px 0;

    @include respond-to("md") {
        padding: 80px 0;
    }

    @include respond-to("sm") {
        padding: 60px 0;
    }

    .grid {
        display: grid;
        grid-template-columns: 620px 1fr;
        gap: 120px;
        align-items: center;

        @include respond-to("md") {
            grid-template-columns: 1fr;
            gap: 0;
            gap: 40px;
        }

        .image {
            @include respond-to("md") {
                max-width: 50%;
                margin: 0 auto;
            }

            @include respond-to("sm") {
                max-width: 90%;
            }

            img {
                display: block;
                object-fit: cover;
            }
        }

        .callCardAlignment {
            .card:last-child {
                margin: 0;
            }

            .card {
                padding: 35px 40px;
                background-color: var(--light-bg);
                border-radius: 16px;
                display: flex;
                align-items: center;
                gap: 20px;
                justify-content: space-between;
                margin: 0 0 22px 0;

                @include respond-to("sm") {
                    padding: 20px 20px;
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 16px;
                }

                button {
                    background-color: var(--light-bg);
                }

                @include respond-to("sm") {
                    img {
                        max-width: 30px;
                    }
                }

                h3 {
                    @include heading20;
                    color: var(--black-500);
                    margin: 0 0 4px 0;
                    max-width: 266px;
                }

                .cardmiddlecontent {
                    @include respond-to("md") {
                        width: 100%;
                    }

                    h3 {
                        @include heading20;
                        color: var(--black-500);
                        margin: 0 0 4px 0;
                        max-width: 266px;

                        @include respond-to("md") {
                            max-width: 100%;
                        }
                    }

                    p {
                        @include font16normal;
                        color: var(--grey-650);
                        max-width: 266px;
                        font-weight: 400;
                        line-height: 22px;

                        @include respond-to("md") {
                            max-width: 100%;
                        }
                    }

                }
            }
        }

        .text {
            padding: 0 0 50px 0;

            @include respond-to("sm") {
                padding: 0 0 40px 0;
            }

            h2 {
                @include heading2;
                color: var(--black-500);
                max-width: 460px;
                margin: 0 0 16px 0;

                @include respond-to("md") {
                    @include heading40;
                }

                @include respond-to("sm") {
                    @include heading32;
                }
            }

            p {
                @include font18;
                color: var(--black-500);
                opacity: 0.9;
                max-width: 460px;

                @include respond-to("sm") {
                    @include font16normal;
                }
            }
        }
    }
}