@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;
@use '../../scss/typography/typography.scss' as *;

.privacyPolicyAllContentAlignment {
    padding: 80px 0 120px 0;

    @include respond-to("sm") {
        padding: 60px 0;
    }


    .iconText {
        display: flex;
        align-items: center;
        padding: 0 0 10px 0;
        gap: 6px;

        h4 {
            @include font16normal;
            color: var(--black-500);
        }
    }

    .content:last-child {
        padding: 0;
    }

    .content {
        padding: 0 0 40px 0;

        @include respond-to("sm") {
            padding: 0 0 20px 0;
        }

        h2 {
            @include heading30;
            color: var(--black-500);
            margin: 0 0 16px 0;
        }

        p {
            @include font16normal;
            line-height: 30px;
            color: var(--grey-600);
            margin: 0 0 24px 0;
        }

        p:last-child {
            margin: 0;
        }

        h3 {
            @include heading20;
            color: var(--black-500);
            margin: 0 0 16px 0;
        }
    }


}