@use '../../../../scss/main.scss' as *;
@use '../../../../scss/typography/typography.scss' as *;
@use '../../../../scss/breakpoints/breakpoints.scss' as *;

.marketplace {
    background-image: url('/assets/images/Background.png');
    width: 100%;
    background-size: cover;
    padding: 60px;
    border-radius: 20px;

    @include respond-to("sm") {
        padding: 40px 20px 40px 20px;
    }

    .centerAlignmentBox {
        max-width: 684px;
        width: 100%;
        margin: 0 auto;

        .searchbar {
            max-width: 530px;
            margin: 0 auto;

            @include respond-to("md") {
                max-width: 420px;
            }

            @include respond-to("sm") {
                padding: 0 0 20px 0;
            }

            .inputwrapper {
                position: relative;
                padding: 1px;
                background: var(--border-color);
                border-radius: 8px;

                input {
                    width: 100%;
                    height: 58px;
                    border: none;
                    background-color: var(--bg-white);
                    padding-left: 78px;
                    padding-right: 40px;
                    @include font16-light;
                    color: var(--black-500);
                    border-radius: 8px;

                    @include respond-to("sm") {
                        padding-left: 68px;
                    }

                    &:focus {
                        outline: none;
                    }
                }

                input::placeholder {
                    @include font16-light;
                    color: var(--black-100);
                    opacity: 0.46;
                }
            }

            .searchIcon {
                position: absolute;
                top: 50%;
                transform: translateY(-50%) !important;
                left: 40px;
                display: flex;
                align-items: center;

                @include respond-to("sm") {
                    left: 30px;
                }
            }
        }

        .text {
            padding: 0 0 22px 0;

            h2 {
                @include heading32;
                color: var(--text-black-90);
                margin: 0 0 20px 0;
                text-align: center;
            }

            p {
                @include font18;
                opacity: .66;
                color: var(--text-black-90);
                text-align: center;
            }
        }
    }
}