@use "../../../scss/main.scss" as *;
@use "../../../scss/breakpoints/breakpoints.scss" as *;
@use "../../../scss/typography/typography.scss" as *;

.ourCourseBanner {
  background-image: url("/assets/images/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 80px 0 0 0;
  border-radius: 30px;

  @include respond-to("md") {
    padding: 80px 0 0 0;
  }

  @include respond-to("sm") {
    border-radius: 12px;
    padding: 60px 0;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 660px;
    gap: 40px;
    align-items: center;

    @include respond-to("md") {
      grid-template-columns: 1fr;
      gap: 40px;
    }

    .griditems {
      position: relative;

      .arrowline {
        position: absolute;
        top: 60px;
        left: 20%;
      }

      .buttonAlignment {
        position: absolute;
        left: -20px;
        top: 60%;
        transform: translateY(-50%);
      }

      .vecIcon {
        position: absolute;
        top: 0;
        right: 10%;
      }

      .blackButton {
        position: absolute;
        right: -20px;
        top: 45%;
        transform: translateY(-50%);
      }

      h2 {
        @include heading2;
        margin: 0 0 14px 0;
        color: var(--black-500);

        @include respond-to("sm") {
          @include heading32;
        }
      }

      p {
        @include font18;
        color: var(--black-500);
        max-width: 617px;
        opacity: 0.9;
        line-height: 28px;

        @include respond-to("sm") {
          @include font16normal;
        }
      }

      .image {
        height: 440px;

        @include respond-to("sm") {
          height: auto;
        }

        img {
          object-fit: cover;
          display: block;
          width: 100%;
          border-radius: 12px;
          height: 100%;
        }
      }
    }
  }
}

.leftrightSpacing {
  padding: 20px 30px;
  border-radius: 30px;

  @include respond-to("sm") {
    padding: 10px 0 0 0;
  }
}
