@use '../../../../scss/main.scss' as *;
@use '../../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../../scss/typography/typography.scss' as *;

.physicalEventsAlignment {

    .emptyState {
        grid-column: 1 / span 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 3rem 1rem;
        background: #f9fafb; // light gray background
        border-radius: 16px;
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
        margin: 2rem auto;
        max-width: 600px;
    }

    .cardgrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        padding: 30px 0 0 0;

        @include respond-to("lg") {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond-to("md") {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond-to("sm") {
            grid-template-columns: repeat(1, 1fr);
        }


        .cardgridItems {
            background-color: var(--bg-light-700);
            padding: 20px;
            border-radius: 12px;
            @include first-clip-path;

            .cardgridItemsimage {

                img {
                    object-fit: cover;
                    clip-path: polygon(0 30px, 25px 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 30px);
                    width: 100%;
                    height: 220px;
                    display: block;
                }
            }

            button {
                padding: 9px 24px;
                @include font14;
                clip-path: polygon(0 15px, 14px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px);
            }

            .content {
                padding: 15px 0 16px 0;
                border-bottom: 1px solid var(--border-color7);

                h3 {
                    @include heading18;
                    margin: 0 0 4px 0;
                    color: var(--black-500);
                }

                .icontext {
                    display: flex;
                    gap: 5px;
                    align-items: center;

                    span {
                        display: block;
                        @include font16normal;
                        color: var(--grey-600);
                    }
                }
            }

            .downlodIcon {
                display: flex;
                align-items: center;
                gap: 6px;

                span {
                    display: block;
                    @include font16normal;
                    color: var(--black-500);
                }
            }

            .textgrid {
                display: flex;
                justify-content: space-between;
                gap: 30px;
                padding: 10px 0 16px 0;

                .textgridItems {
                    h4 {
                        @include font16normal;
                        font-weight: 500;
                        margin: 0 0 4px 0;
                        color: var(--black-500);
                    }
                    
                    .clockText {
                        align-items: center;
                        display: flex;
                        align-items: center;
                        gap: 4px;
                    }

                    p {
                
                        @include font16;
                        font-family: var(--font-lexend);
                        color: var(--grey-600);
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        display: -webkit-box;
                        overflow: hidden;;
                    }
                }

                .textgridItemsleft {
                    max-width: 116px;

                    h4 {
                        @include font16normal;
                        font-weight: 500;
                        margin: 0 0 4px 0;
                        color: var(--black-500);
                    }

                    .clockText {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                    }

                    p {
                        margin-top: 10px;
                        @include font16;
                        font-family: var(--font-lexend);
                        color: var(--grey-600);
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        display: -webkit-box;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}