@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;
@use '../../scss/typography/typography.scss' as *;

.paginationAlignment {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    @include respond-to("sm") {
        gap: 16px;
    }

    .arrow:last-child {
        svg {
            transform: rotate(180deg);
        }
    }

    .arrow {
        width: 70px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-white);
        cursor: pointer;
        border: 1px solid var(--border-light);
        border-radius: 999px;

        @include respond-to("sm") {
            width: 50px;
            height: 30px;
        }

        &:hover {
            background: var(--Main, linear-gradient(90deg, #6E30F9 0%, #FE6917 85.71%));

            svg {
                path {
                    fill: var(--text-white);
                }
            }
        }

        svg {
            @include respond-to("sm") {
                width: 12px;
                height: 12px;
            }
        }
    }

    .counterAlignment {
        display: flex;
        align-items: center;
        gap: 14px;
        justify-content: center;

        div {
            background-color: var(--bg-white);
            cursor: pointer;
            border: 1px solid var(--border-light);
            width: 40px;
            height: 40px;
            display: flex;
            @include heading18;
            border-radius: 8px;
            font-size: 16px;
            color: var(--black);
            align-items: center;
            justify-content: center;
            transition: .3s ease-in-out;

            @include respond-to("sm") {
                width: 30px;
                height: 30px;
                font-size: 10px;
            }

            &:hover {
                color: var(--text-white);
                background: var(--Main, linear-gradient(90deg, #6E30F9 0%, #FE6917 85.71%));
            }
        }
    }
}