@use '../../scss/main.scss' as *;
@use '../../scss/typography/typography.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;

.signup {
    background-image: url('/assets/images/grid-banner.png');
    width: 100%;
    background-size: cover;
    min-height: 100dvh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    padding: 40px 0;

    .selectWrapper {
        position: relative;
        width: 100%;
        margin-top: 8px;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid var(--grey-600);
            pointer-events: none;
        }
    }

    

    select {
        width: 100%;
        padding: 12px 16px;
        border: 1px solid var(--grey-200);
        border-radius: 8px;
        background-color: var(--white);
        color: var(--black-500);
        font-size: 16px;
        line-height: 1.5;
        appearance: none;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;

        &:focus {
            outline: none;
            border-color: var(--orange);
            box-shadow: 0 0 0 2px rgba(255, 102, 0, 0.2);
        }

        &:disabled {
            background-color: var(--grey-100);
            cursor: not-allowed;
            opacity: 0.7;
        }
    }

    .errorBorder {
        border-color: #ff4d4f !important;
    }

    @include respond-to("sm") {
        padding: 20px 0;
    }

    :global(.container) {
        @include respond-to("sm") {
            width: 100%;
        }
    }

    .logoCenter {
        display: flex;
        justify-content: center;
        padding:  0 0 20px 0;
    }

    .error {
        @include font14;
        color: red;
    }

    .signinBox {
        max-width: 580px;
        margin: 0 auto;

        .label {
            display: block;
            margin-bottom: 8px;
            font-weight: 500;
            color: var(--black-500);
            @include font16;
        }

        .inputAlignment {
            padding: 0 0 24px 0;

           
        }

        .leftRightAlignment {
            max-width: 500px;
            margin: 0 auto;
        }

        .buttonWidthFull {
            padding: 0 0 34px 0;

            @include respond-to("sm") {
                padding: 0 0 20px 0;
            }

            button {
                width: 100%;
                justify-content: center;
            }
        }

        .dontHaveAccount {
            padding: 30px 0 0 0;

            @include respond-to("sm") {
                padding: 20px 0 0 0;
            }

            p {
                @include font18;
                color: var(--black-250);
                text-align: center;

                @include respond-to("sm") {
                    @include font16normal;
                }


                a {
                    color: var(--orange);
                    cursor: pointer;
                    transition: .3s ease-in-out;

                    &:hover {
                        transform: translateX(3px);
                    }
                }
            }
        }

        .forgotPassword {
            padding: 10px 0 35px 0;
            text-align: right;

            @include respond-to("sm") {
                padding: 10px 0 20px 0;
            }

            a {
                @include font16;
                background: var(--button-gradient);
                background-clip: text;
                -webkit-background-clip: text;
                text-align: right;
                cursor: pointer;
                -webkit-text-fill-color: transparent;
            }
        }



        .text {
            padding: 0 0 26px 0;

            @include respond-to("sm") {
                padding: 0 0 30px 0;
            }

            h2 {
                margin: 0 0 14px 0;
                @include heading32;
                color: var(--black-500);
                text-align: center;

                @include respond-to("sm") {
                    @include heading26;
                    margin: 0 0 5px 0;
                }
            }

            p {
                @include font18;
                color: var(--grey-600);
                text-align: center;

                @include respond-to("sm") {
                    @include font16normal;
                }
            }
        }
    }
}