@use '../../../scss/main.scss' as *;
@use '../../../scss/typography/typography.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;

.havequestions {
    background-image: url('/assets/images/light-background.png');
    width: 100%;
    background-size: cover;
    width: 100%;
    padding: 120px 0;

    @include respond-to("md") {
        padding: 80px 0;
    }

    @include respond-to("sm") {
        padding: 60px 0;
    }

    .text {
        padding: 0 0 60px 0;

        @include respond-to("sm") {
            padding: 0 0 40px 0;
        }

        h2 {
            @include heading2;
            margin: 0 0 16px 0;
            color: var(--black-500);
            text-align: center;

            @include respond-to("md") {
                @include heading40;
            }

            @include respond-to("sm") {
                @include heading32;
            }
        }

        p {
            @include font18;
            color: var(--black-500);
            opacity: 0.9;
            text-align: center;

            @include respond-to("sm") {
                @include font16normal;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 590px 1fr;
        gap: 49px;

        @include respond-to("md") {
            grid-template-columns: 1fr;
            gap: 40px;
        }

        .buttonAlignment {
            padding: 40px 0 0 0;

            @include respond-to("sm") {
                padding: 20px 0 0 0;
            }
        }

        .colGrid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 21px;
            padding: 0 0 21px 0;

            @include respond-to("sm") {
                grid-template-columns: 1fr;
                gap: 16px;
            }

            .lastCol {
                grid-column: span 2;

                @include respond-to("sm") {
                    grid-column: inherit;
                }
            }

        }

        .blockBox {
            background-color: var(--bg-black-70);
            padding: 50px;
            @include first-clip-path;
            border-radius: 12px;

            @include respond-to("sm") {
                padding: 30px 16px;
            }

            .box:last-child {
                margin: 0;
            }

            .box {
                background-color: var(--black-100);
                border-radius: 14px;
                border: 1px solid var(--border-200);
                padding: 17px 20px;
                display: grid;
                grid-template-columns: 58px 1fr;
                gap: 18px;
                align-items: center;
                margin: 0 0 13px 0;

                @include respond-to("sm") {
                    padding: 14px;
                    grid-template-columns: 1fr;
                    gap: 14px;
                }

                .icon {
                    width: 58px;
                    height: 58px;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: rgba(255, 255, 255, 0.10);
                }

                h3 {
                    @include heading18;
                    color: var(--text-white);
                }

                p {
                    @include font14;
                    color: var(--text-white);
                    margin: 0 0 6px 0;
                }

                a {
                    background: var(--button-gradient);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    @include font18;
                }
            }
        }
    }

    .error{
        color: red;
        font-size: 12px;
        margin-top: 4px;
    }
}