@use '../../../../scss/main.scss' as *;
@use '../../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../../scss/typography/typography.scss' as *;

.blogListingCard {
    padding: 80px 0 120px 0;

    .tabAlignment {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 0 0 50px 0;
        flex-wrap: wrap;
        justify-content: center;

        @include respond-to("sm") {
            width: 100%;
            justify-content: flex-start;
            overflow: auto;
            scrollbar-width: none;
            flex-wrap: nowrap;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        *::-webkit-scrollbar {
            display: none;
        }

        button {
            border: none;
            padding: 16px 30px;
            cursor: pointer;
            clip-path: polygon(0 22px, 20px 0, 100% 0, 100% calc(100% - 22px), calc(100% - 22px) 100%, 0 100%, 0 22px);
            @include heading18;
            background: rgba(218, 218, 218, 0.80);
            color: var(--black-500);
            transition: .3s ease-in-out;

            @media (max-width:1500px) {
                padding: 12px 26px;
                font-size: 15px;
            }

            @include respond-to("sm") {
                white-space: nowrap;
            }

            &:hover,
            &.activeTab {
                background: var(--button-gradient);
                color: var(--text-white);
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 37px;

        .griditems {
            .image {
                img {
                    height: 280px;
                    clip-path: polygon(0px 50px, 45px 0px, 100% 0px, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0px 100%, 0px 50px);
                    width: 100%;
                    display: block;
                }
            }

            .details {
                padding: 15px 0 0 0;

                h3 {
                    @include heading20;
                    margin: 0 0 3px 0;
                    color: var(--black-500);
                }

                p {
                    @include font16normal;
                    color: var(--grey-650);
                    margin: 0 0 18px 0;
                }

                .allIconTextAlignment {
                    display: flex;
                    align-items: center;
                    padding: 0 0 10px 0;
                    gap: 24px;

                    .iconText {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        span {
                            display: block;
                            @include font16normal;
                            color: var(--grey-650);
                        }
                    }
                }
            }
        }
    }
}