@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/typography/typography.scss' as *;

.breadcumbsAlignment {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 0 20px 0;

    a , span , button{
        display: block;
        cursor: pointer;
        @include heading18;
        font-size: 16px;
        color: var(--grey-600);
        border: none;
        background: none;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    span {
        color: var(--black-500);
    }

    .backIcon {
        width: 16px;
        height: 16px;
        // rotate: 180deg;
        color: var(--grey-600);
    }
}