@use '../../scss/main.scss' as *;
@use '../../scss/typography/typography.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;

.input {
    label {
        display: block;
        @include font18;
        color: var(--border-200);
        padding: 0 0 8px 0;
         @include respond-to("sm") {
            font-size: 16px;
         }
    }
    .relative {
        position: relative;

        .iconAlignment {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;
            display: flex;
            align-items: center;
            
            img {
                display: block;
                cursor: pointer;
            }
        }
    }
    input {
        width: 100%;
        padding: 0 16px;
        background-color: var(--bg-white);
        @include font16;
        color: var(--black-500);
        height: 55px;
        border: 1px solid var(--border-color2);
        transition: .3s ease-in-out;
        border-radius: 10px;

        &:focus {
            outline: none;
            border: 1px solid var(--black-500);
        }
        
        &[disabled],
        &.disabled {
            background-color: #f5f5f5 !important;
            color: #999 !important;
            -webkit-text-fill-color: #666 !important;
            cursor: not-allowed !important;
            border-color: #e0e0e0 !important;
            opacity: 1 !important;
            pointer-events: none;
            user-select: none;
        }
    }

    ::placeholder {
        @include font16;
        color: var(--grey-500);
    }
}