@use "../../../scss/main.scss" as *;
@use "../../../scss/breakpoints/breakpoints.scss" as *;
@use "../../../scss/typography/typography.scss" as *;

.recentCourse {
    // padding: 35px 0 0;

    h2{
        font-family: var(--font-funneldisplay);
        color: var(--black-500);
        opacity: .9;
        max-width: 592px;
        margin: 0 0 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .tabsmain {
        border-bottom: 1px solid var(--border-color2);
        overflow-x: auto;
        // padding-bottom: 10px;

        // &::-webkit-scrollbar {
        //   display: none;
        // }

        .tabs {
            width: fit-content;
            display: flex;
            white-space: nowrap;
            align-items: center;

            .tabsbutton {
                background-color: transparent;
                width: fit-content;
                cursor: pointer;
                border: none;
                padding: 14px 22px;
                @include font16;
                position: relative;
                outline: none;
                // overflow: hidden;
                transition: .4s ease-in-out;

                &::before {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    content: "";
                    background-color: transparent;
                }

                &.active,
                &:hover {
                    &::before {
                        background: var(--button-gradient);
                    }

                    span {
                        background-image: var(--button-gradient);
                        color: transparent;
                        background-clip: text;
                        transition: .4s ease-in-out;
                    }
                }

                span {
                    color: var(--black-100);
                }
            }
        }
    }
}