body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: var(--font-lexend);
}

* {
  box-sizing: border-box;
}

p:last-child {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: calc(1460px + 40px);
  padding: 0 20px;
  margin: 0 auto;
}

.container-md {
  max-width: calc(1240px + 40px);
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

img {
  max-width: 100%;
  user-drag: none;
  -webkit-user-drag: none;
}

.admin-layout {
  display: flex;
  background: #f7f8fa;
}

.admin-layout-sidebar {
  width: 255px;
}

.admin-layout-children {
  padding: 30px;
  width: calc(100% - 255px);
}

@media (max-width: 1024px) {
  .admin-layout {
    display: block;
  }

  .admin-layout-sidebar {
    display: none;
  }

  .admin-layout-children {
    width: 100%;
    padding: 16px;
  }
}

/* Container background */
.custom-toast {
  background: #fff !important;
  color: #333 !important;
  border-radius: 12px !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15) !important;
  padding: 12px 16px !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

/* Body text */
.custom-body {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Close button */
.Toastify__close-button {
  color: #888 !important;
  opacity: 0.8;
  transition: all 0.2s;
}

.Toastify__close-button:hover {
  color: #333 !important;
  opacity: 1;
}

.protect {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.01);
  /* almost invisible */
  z-index: 9999;
  pointer-events: none;
}

.watermark {
  position: fixed;
  top: 30%;
  left: 20%;
  opacity: 0.2;
  font-size: 4rem;
  color: red;
  pointer-events: none;
  transform: rotate(-30deg);
}

/* .watermark::before {
  content: "Confidential";
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-30deg);
  font-size: 5rem;
  font-weight: bold;
  color: rgba(255, 0, 0, 0.15);
  pointer-events: none;
  z-index: 9999;
  white-space: nowrap;
} */

/* <---- React date picker css starts here ----> */
.react-datepicker__header {
  background: #fff !important;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  fill: #fff !important;
  color: #fff !important;
}

.react-datepicker__day--selected {
  background: var(--button-gradient) !important;
}

.react-datepicker {
  border-radius: 10px !important;
  overflow: hidden;
}

.react-datepicker__input-container input {
  background-color: #f7f8fa !important;
  font-family: var(--font-lexend);
  color: var(--black-500) !important;
  border: 1px solid var(--border-color2) !important;
  border-radius: 10px !important;
  height: 55px;
  padding: 0 16px !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.3s ease-in-out;
}

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 9999;
  pointer-events: none;
  transition: opacity 0.3s;
}

textarea {
  resize: none;
}

.stdropdown-item{
    padding: 5px;
}

.stdropdown-menu{
    background-color: white;
    padding: 20px;
    border: black;
    border-radius: 10px;
    margin-top: 10px;
}

.stdropdown-container{
    position: relative;
  }
  
  .stdropdown-container input{
      width: 100%;
      padding: 12px 16px;
      border: 1px solid grey;
      border-color: var(--border-color2);
      border-radius: 10px;
      color: var(--black-500);
      font-size: 16px;
      line-height: 1.5;
      height: 48px;
      font-family: var(--font-lexend);
  }
.stdropdown-tools{
    position: absolute;
    top: 12px;
    right: 10px;
}
