:root {
  --bg-white: #fff;
  --black-500: #051600;
  --black: #000;
  --black-190: #192335;
  --black-100: #141414;
  --black-100-light: rgba(5, 22, 0, 0.8);
  --black-300: #303030;
  --black-250: #2e2e2e;
  --bg-black-70: #070305;
  --text-black-90: rgba(5, 22, 0, 0.9);
  --grey-600: #6f756d;
  --grey-650: #6b7385;
  --grey-500: #6b7280;
  --green: #16a249;
  --input-bg: rgba(0, 0, 0, 0.2);
  --grey: #a1a1a1;
  --border-light: #d7d7d7;
  --border-200: #2a303c;
  --text-white: #fff;
  --bg-light-700: #f7f8fa;
  --text-white-80: rgba(255, 255, 255, 0.8);
  --bg-white-80: rgba(255, 255, 255, 0.08);
  --border-color: #00000021;
  --border-color2: #dadada;
  --border-color3: #cdcdcd;
  --border-color4: #dbdde1;
  --border-color5: #e9e9e9;
  --border-color6: #dfe0e0;
  --border-color7: #dfe0e0;
  --orange: #fe6917;
  --button-gradient: linear-gradient(90deg, #6e30f9 0%, #fe6917 85.71%);
  --button-gradient-hover: linear-gradient(90deg, #fe6917 0%, #6e30f9 85.71%);
  --card-gradient-border: linear-gradient(
    109.33deg,
    #2f2f2f 74.94%,
    #fe6917 86.48%,
    #6f31f8 92.3%
  );
  --button-gradient-border: linear-gradient(90deg, #6e30f9 0%, #fe6917 85.71%);
  --button-gradient-border-hover: linear-gradient(
    90deg,
    #fe6917 0%,
    #6e30f9 85.71%
  );
  --light-bg: #fff5f1;
}
