@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/typography/typography.scss' as *;

.faqBanner {
    background-image: url('/assets/images/Background.png');
    background-size: cover;
    padding: 266px 0 130px 0;
    width: 100%;

    padding: 80px 0 80px 0;
    border-radius: 30px;

    @include respond-to("md") {
        padding: 80px 0 80px 0;
    }

    @include respond-to("sm") {
        border-radius: 12px;
        padding: 60px 0;
    }

    .text {

        h1 {
            @include heading2;
            color: var(--black-500);
            text-align: center;
            margin: 0 0 16px 0;

            @include respond-to("md") {
                @include heading32;
            }
        }

        p {
            @include font18;
            color: var(--black-500);
            opacity: 0.9;
            text-align: center;

            @include respond-to("sm") {
                @include font16normal;
            }
        }
    }
}


.leftrightSpacing {
    padding: 20px 30px;
    border-radius: 30px;

    @include respond-to("sm") {
        padding: 10px 0 0 0;
    }
}