@use '../../../scss/main.scss' as *;
@use '../../../scss/typography/typography.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;

.financialFreedom {
    background-color: var(--black);
    position: relative;
    padding: 100px 0;
    overflow: hidden;

    @include respond-to("md") {
        padding: 80px 0;
    }

    @include respond-to("sm") {
        padding: 60px 0;
    }

    .vecImage {
        position: absolute;
        bottom: 0;
        right: 0;

        img {
            max-width: 280px;

            @include respond-to("md") {
                max-width: 200px;
            }
        }
    }

    .text {
        padding: 0 0 40px 0;

        @include respond-to("sm") {
            padding: 0 0 40px 0;
        }

        h2 {
            @include heading2;
            color: var(--text-white);
            text-align: center;
            margin: 0 0 16px 0;

            @include respond-to("md") {
                @include heading40;
            }

            @include respond-to("sm") {
                @include heading32;
            }
        }

        p {
            @include font18;
            color: var(--grey);
            opacity: 0.9;
            text-align: center;

            @include respond-to("sm") {
                @include font16normal;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
        width: 100%;

        .btnWidthfull {
            @include respond-to("sm") {
                padding: 20px 0 0 0;
            }

            button {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }



        .griditems {
            .img {
                img {
                    object-fit: cover;
                    border-radius: 12px;
                    display: block;
                    aspect-ratio: 16 / 9;
                    width: 100%;
                }
            }

            h3 {
                @include heading20;
                color: var(--text-white);
                margin: 0 0 10px 0;
            }


            .textAlignment {
                display: flex;
                align-items: center;
                gap: 18px;
                padding: 0 0 16px 0;

                h4 {
                    @include heading26;
                    color: var(--text-white);
                }

                button {
                    border: none;
                    @include font14;
                    font-weight: 400;
                    color: var(--text-white);
                    background-color: var(--bg-white-80);
                    border: none;
                    border-radius: 99px;
                    padding: 4px 16px;
                }
                .iconText {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    img {
                        width: 20px;
                        height: 20px;
                    }

                    span {
                        display: block;
                        @include font16normal;
                        color: var(--text-white-80);
                        display: block;
                    }
                }
            }

            .allIconText {
                display: flex;
                align-items: center;
                gap: 20px;
                padding: 0 0 16px 0;

                .icontext {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    span {
                        display: block;
                        @include font16normal;
                        color: var(--text-white-80);
                        display: block;
                    }
                }
            }
        }
    }



    .mainCard {
        padding: 16px;
        background-color: var(--black-100);
        width: 100%;
        border-radius: 12px;
        transition: .3s ease-in-out;
    }

    .mainCardgrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }

    .tabCenter {
        display: flex;
        justify-content: center;
        padding: 0 0 30px 0;

        .tabDesign {
            background-color: #060606;
            border: 1px solid #222222;
            padding: 6px 12px;
            display: flex;
            align-items: center;
            gap: 10px;
            border-radius: 999px;
        }

        .btnwrapper {

            &:hover {
                button {
                    background: var(--button-gradient);

                    img {
                        transform: translateX(2px);
                        filter: invert(1);
                    }
                }
            }

            button {
                width: 100%;
                height: 100%;
                padding: 12px 24px;
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border: none;
                border-radius: 888px;
                color: var(--text-white);
                @include font14;
                font-weight: 500;
                gap: 9px;

                img {
                    transition: .3s ease-in-out;
                }

                &.active {
                    background: var(--button-gradient);
                    color: var(--text-white);
                }
            }
        }

    }

}