@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/typography/typography.scss' as *;

.blogDetailsBanner {
    background-image: url('/assets/images/Background.png');
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    padding: 80px 0 80px 0;
    border-radius: 30px;

    @include respond-to("md") {
        padding: 80px 0 80px 0;
    }

    @include respond-to("sm") {
        border-radius: 12px;
        padding: 60px 0;
    }

    h2 {
        @include heading40;
        font-size: 38px;
        color: var(--black-500);
    }

    .breadcumbAlignment {
        display: flex;
        align-items: center;
        padding: 0 0 30px 0;
        gap: 7px;

        span {
            display: block;
            @include font18;
            color: var(--black-500);

            &.lightText {
                color: var(--grey-555);
            }
        }
    }
}

.leftrightSpacing {
    padding: 20px 30px;
    border-radius: 30px;

    @include respond-to("sm") {
        padding: 10px 0 0 0;

    }
}