@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;
.logo {
    img {
        display: block;
        max-width: 100px;
        cursor: pointer;
        @include respond-to("md") {
            max-width: 80px;
        }
    }
}