@use "../../../../scss/main.scss" as *;
@use "../../../../scss/typography/typography.scss" as *;
@use "../../../../scss/breakpoints/breakpoints.scss" as *;

.categoriesSectionAlignment {
  padding: 60px 0;

  @include respond-to("sm") {
    padding: 60px 0 80px 0;
  }

  .title {
    padding: 0 0 5px 0;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: start;

    @include respond-to("sm") {
      padding: 0 0 40px 0;
    }
    h2 {
      @include heading32;
      background: #6B4FD8;
      background-clip: text;
      -webkit-background-clip: text;
      display: inline;
      -webkit-text-fill-color: transparent;


      @include respond-to("md") {
        @include heading40;
      }

      @include respond-to("sm") {
        @include heading32;
      }
    }

    p {
      @include font16normal;
      color: var(--black-500);
      opacity: 0.9;
      max-width: 576px;

      @include respond-to("sm") {
        @include font16normal;
      }
    }
  }

  .categoriesGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 20px;

    @include respond-to("lg") {
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
    }

    @include respond-to("md") {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @include respond-to("sm") {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
    }
  }

  .box {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    .details {
      padding: 16px 0 0 0;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      p {
        font-family: var(--font-lexend);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 27px;
        margin: 0 0 8px 0;
        color: var(--black-500);
        text-align: left;
      }

      span {
        display: block;
        @include font16normal;
        color: #6f756d;
        margin-top: auto;
      }
    }

    .image {
      position: relative;
      padding-bottom: 56.25%;
      /* 16:9 Aspect Ratio */
      overflow: hidden;
      border-radius: 8px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        transition: transform 0.3s ease;
      }
    }

    &:hover .image img {
      transform: scale(1.05);
    }
  }

  .noCategories {
    grid-column: 1 / -1;
    text-align: center;
    padding: 40px 0;

    p {
      @include font18;
      color: var(--black-300);
    }
  }
}
