@use '../../scss/main.scss' as *;
@use '../../scss/typography/typography.scss' as *;

.button {
    button {
        padding: 16px 26px;
        @include font16;
        color: var(--text-white);
        background: var(--button-gradient);
        display: flex;
        align-items: center;
        cursor: pointer;
        border: none;
        gap: 9px;
        transition: .3s ease-in-out;
        border-radius: 8px;
        clip-path: polygon(0 22px, 20px 0, 100% 0, 100% calc(100% - 22px), calc(100% - 22px) 100%, 0 100%, 0 22px);
        
        &:hover:not(:disabled) {
            background: var(--button-gradient-hover);

            img {
                transform: translateX(3px);
            }
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.7;
        }

        img {
            transition: .3s ease-in-out;
        }
    }
}