@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/typography/typography.scss' as *;

.aboutBanner {
    background-image: url('/assets/images/herobanner.png');
    background-size: cover;
    width: 100%;
    padding: 80px 0 0 0;
    background-repeat: no-repeat;
    border-radius: 30px;

    @include respond-to("md") {
        padding: 60px 0 0 0;
    }

    @include respond-to("sm") {
        border-radius: 12px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 617px;
        gap: 40px;
        align-items: center;

        @include respond-to("md") {
            grid-template-columns: 1fr;
        }

        h2 {
            @include heading2;
            color: var(--black-500);
            margin: 0 0 14px 0;

            @include respond-to("sm") {
                @include heading32;
            }
        }

        p {
            @include font18;
            color: var(--black-500);
            opacity: 0.9;
            max-width: 617px;
            line-height: 28px;

            @include respond-to("sm") {
                @include font16normal;
            }
        }

        .image {
            @include respond-to("md") {
                max-width: 450px;
                margin: 0 auto;
            }

            img {
                display: block;
            }
        }
    }
}

.leftrightSpacing {
    padding: 20px 30px;
    border-radius: 30px;

    @include respond-to("sm") {
        padding: 10px 0 0 0;
    }
}